<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <div class="center">

      <div class="separar"> </div>

      <div class="logo">
        <ion-img src="\assets\app_logo.png"/>
      </div>

      <ion-text color="primary">
        <h1>Registro</h1>
      </ion-text>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>

  <div class="buttons">
    <ion-button expand="block" type="submit" color="tertiary" (click)="insereUsuario()">Salvar</ion-button>
    <ion-button expand="block"  color="secondary" routerLink="/login">Voltar</ion-button>
  </div>

</div>
</div>
</ion-content>